//! **************************************************************************
// Written by: Map P.20131013 on Wed Jan 31 16:28:44 2024
//! **************************************************************************

SCHEMATIC START;
COMP "t<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "t<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "t<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "t<3>" LOCATE = SITE "N17" LEVEL 1;
COMP "sum<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "sum<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "sum<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "sum<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "sum<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "sum<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "cout" LOCATE = SITE "F9" LEVEL 1;
COMP "ROT_SWITCH" LOCATE = SITE "V16" LEVEL 1;
PIN ROT_SWITCH_pin<0> = BEL "ROT_SWITCH" PINNAME PAD;
PIN "ROT_SWITCH_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "PB1" LOCATE = SITE "H13" LEVEL 1;
PIN PB1_pin<0> = BEL "PB1" PINNAME PAD;
PIN "PB1_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "PB2" LOCATE = SITE "V4" LEVEL 1;
PIN PB2_pin<0> = BEL "PB2" PINNAME PAD;
PIN "PB2_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "PB3" LOCATE = SITE "D18" LEVEL 1;
PIN PB3_pin<0> = BEL "PB3" PINNAME PAD;
PIN "PB3_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "PB4" LOCATE = SITE "K17" LEVEL 1;
PIN PB4_pin<0> = BEL "PB4" PINNAME PAD;
PIN "PB4_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PB4_BUFGP/IBUFG" BEL "PB4_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "PB1_BUFGP/IBUFG" BEL "PB1_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "PB2_BUFGP/IBUFG" BEL "PB2_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "PB3_BUFGP/IBUFG" BEL "PB3_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "ROT_SWITCH_BUFGP/IBUFG" BEL "ROT_SWITCH_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

